.summary {
    font-family: 'RocknRoll One';
    font-size: 3rem;
}

.checkout_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkout_items p {
    font-family: 'RocknRoll One';
    font-size: 2rem;
}

.buttons {
    border-radius: 10%;
    font-size: 1.5rem;
}